@font-face {
	font-family: highwaygothic;
	src: url('fonts/Highway-Gothic-Regular.ttf');
}

@font-face {
	font-family: din1451;
	src: url('fonts/DINMittelschriftStd.otf');
}

@font-face {
	font-family: transport;
	src: url('fonts/Transport-Medium.ttf');
}

#container {
	display: none;
	position: absolute;
	right: 4vh;
    bottom: 4vh;
}


/* Speedlimit */

#sign {
	display: none;
}

#background {
	background-repeat: no-repeat;
	background-size: cover;
	height: 12rem;
	width: 12rem;
}

#numerals {
	text-align: center;
	margin: 0;
}

/* United States */
.background-us-standard {
	background: url("images/us_standard.png");
}
.numerals-us-standard {
	color: rgb(35, 31, 32);
	font-size: 5.5rem;
	font-weight: bold;
	font-family: highwaygothic;
	padding-top: 5.8rem;
	transform:scale(1.20, 1);
	letter-spacing: 0.25rem;
	text-indent: 0.25rem;
}

.background-us-oregon {
	background: url("images/us_oregon.png");
}
.numerals-us-oregon {
	padding-top: 2.5rem;
	color: rgb(0, 0, 0);
	font-size: 9rem;
	font-family: highwaygothic;
    transform:scale(0.80, 1);
}

.background-us-metric {
	background: url("images/us_metric.png");
}
.numerals-us-metric {
	padding-top: 5.42rem;
	color: rgb(0, 0, 0);
	font-size: 3rem;
	font-family: highwaygothic;
}

/* Canada */
.background-canada-standard {
	background: url("images/canada_standard.png");
}
.numerals-canada-standard {
	padding-top: 3.75rem;
	color: rgb(35, 31, 32);
	font-size: 6.5rem;
	font-family: highwaygothic;
}

.background-canada-ontario {
	background: url("images/canada_ontario.png");
}
.numerals-canada-ontario {
	padding-top: 3.25rem;
	color: rgb(0, 0, 0);
	font-size: 6rem;
	font-family: highwaygothic;
}

.background-canada-yt-bc {
	background: url("images/canada_yt_bc.png");
}
.numerals-canada-yt-bc {
	padding-top: 2rem;
	color: rgb(0, 0, 0);
	font-size: 7rem;
	font-family: Arial;
	font-weight: 600;
}

/* Germany */
.background-germany {
	background: url("images/germany.png");
}
.numerals-germany {
	padding-top: 2rem;
	color: rgb(0, 0, 0);
	font-size: 7rem;
	font-family: din1451;
}

.numerals-cramp-germany {
	padding-top: 2.5rem;
	font-size: 6rem;
	letter-spacing: -0.3rem;
	text-indent: -0.3rem;
}

/* Japan */
.background-japan {
	background: url("images/japan.png");
}
.numerals-japan {
	padding-top: 2.6rem;
	color: rgb(0, 102, 179);
	font-size: 6rem;
	font-family: Arial;
}

/* United Kingdom */
.background-united-kingdom {
	background: url("images/united_kingdom.png");
}
.numerals-united-kingdom {
	padding-top: 2.2rem;
	color: rgb(0, 0, 0);
	font-size: 6.5rem;
	font-family: transport;
    font-weight: bold;
}

/* Amber */
.background-amber {
	background: url("images/amber.png");
}
.numerals-amber {
	padding-top: 1.9rem;
	color: rgb(0, 0, 0);
	font-size: 7.25rem;
	font-family: Arial;
	font-weight: bold;
}

/* Australia */
.background-australia {
	background: url("images/australia.png");
}
.numerals-australia {
	padding-top: 3.2rem;
	color: rgb(0, 0, 0);
	font-size: 5.25rem;
	font-family: highwaygothic;
}


/* Advisory */

#advisory-sign {
	display: none;
}

#advisory-background {
	height: 12rem;
	width: 12rem;
	background-repeat: no-repeat;
	background-size: cover;
}

#advisory-numerals {
	text-align: center;
}

#advisory-label {
	text-align: center;
}


/* US */
.advisory-background-us-advisory {
	margin-bottom: 1vh;
	background: url("images/us_advisory.png");
}
.advisory-label-us-advisory {
	padding-top: 1.25rem;
	color: rgb(0, 0, 0);
	letter-spacing: 0.1rem;
	text-indent: 0.1rem;
	transform:scale(1.20, 1);
	font-size: 1.8rem;
	font-weight: 600;
	font-family: highwaygothic;
}
.advisory-numerals-us-advisory {
	margin-top: -0.6rem;
	color: rgb(0, 0, 0);
	font-size: 4.5rem;
	font-weight: bold;
	font-family: highwaygothic;
	transform:scale(1.30, 1);
}

/* EU */
.advisory-background-eu-advisory {
	margin-bottom: 1vh;
	background: url("images/eu_advisory.png");
}
.advisory-label-eu-advisory {
	display: none;
}
.advisory-numerals-eu-advisory {
	padding-top: 2.75rem;
	color: rgb(255, 255, 255);
	font-size: 5.8rem;
	font-weight: bold;
	font-family: Arial;
}

/* Sweden */
.advisory-background-sweden-advisory {
	margin-bottom: 1vh;
	background: url("images/sweden_advisory.png");
}
.advisory-label-sweden-advisory {
	display: none;
}
.advisory-numerals-sweden-advisory {
	padding-top: 4rem;
	color: rgb(255, 255, 255);
	font-size: 3.7rem;
	font-weight: bold;
	font-family: Arial;
	letter-spacing: 0.75rem;
	text-indent: 0.75rem;
}

/* United Kingdom */
.advisory-background-uk-advisory {
	margin-bottom: 1vh;
	background: url("images/uk_advisory.png");
}
.advisory-label-uk-advisory {
	display: none;
}
.advisory-numerals-uk-advisory {
	padding-top: 7.45rem;
	margin-left: 5.55vh;
	color: rgb(0, 0, 0);
	font-size: 3.25rem;
	font-weight: bold;
	font-family: transport;
}
